.room{
  padding: 0 0 112px;
  &__container {
    text-align: center;
  }
  &__desc{
    @include text ($montserrat,400, 20px, 24px, #000000);
    margin: 40px 0 38px;
  }


  &__row {
    &-title {
      @include text($montserratalternates, 600, 30px, 37px, #262626);
      position: relative;

      &::after {
        content: url("../images/room-line.svg");
        position: absolute;
        top: -25%;
        left: 15%;
      }
    }
    &-title2{
      @include text($montserratalternates, 600, 30px, 37px, #262626);
      position: relative;
      &::after {
        content: url("../images/room-line2.0.svg");
        position: absolute;
        top: -25%;
        left: 35%;
      }
    }
  }
  &__row{
    display: flex;
    align-items: center;
    column-gap: 46px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  &__card{
  margin-top: 43px;
    width: calc(33.33333% - 30.66666px);
    &-bot{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 47px;

    }
    &-title{
      @include text ($montserratalternates, 600, 20px, 25px, #353535);
    }
    &-link{
      @include text($montserratalternates, 500, 15px, 19px, $brown);

      background: #FAFAFA;
      border-radius: 100px;
      padding: 20px 30px 20px 70px;
      position: relative;
      &::before{
        content: url("../images/basket.svg");
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-20%, -50%);
      }
    }
  }




}